
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;700&display=swap');
@import "./form.css";
@import "./flex.css";
@import "./grid.css";
@import "./Table.css";
:root {
  --purple: rgb(84, 105, 212);
  --gray: rgb(220, 220, 220);
}
body {
  background-color: #fbfbfb;
  font-family: "Montserrat", Lato, -apple-system, BlinkMacSystemFont, sans-serif;
}
.b-500 {
  font-weight: 500;
}
.b-600 {
  font-weight: 600;
}
* {
  margin: 0;
  box-sizing: border-box;
  
}


a.button, button {
  padding: 0.75rem 1rem;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
a.button.inverted, button.inverted {
  color: white;
  background-color: var(--color);
}
a.button.holed, button.holed {
  border: 1px solid var(--color, var(--gray));
  background-color: white;
  color: var(--color, var(--gray));
}
a.button.holed:hover, button.holed:hover {
  background-color:var(--color, var(--gray));
  color: white;
}

a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
.gap {
  gap: .5rem !important;
}
.panel {
  padding: var(--size, 1rem);
  box-shadow: 0 0 0.25rem var(--color, var(--gray));
  border: 1px solid var(--color, var(--gray));
  border-radius: .25rem;
  gap: var(--gap, 1rem);
  background-color: white;
}
p {
  font-size: .85rem;
}
@media print {
  body * {
    visibility: hidden;
  }
  #print, #print * {
    
    visibility: visible;
    font-size: 0.6rem;
    --size: 0.25rem;
    --gap: 0.25rem;
  }
  #print {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
  }
  html, body {margin: 0; height: 100%; overflow: hidden}
}
